{% extends 'reservation/index.html.twig' %}

{% block content %}
    <h1>Ajouter un nouveau type de service</h1>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    {{ form_label(form.typeService, 'Type de Service', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.typeService, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    {{ form_label(form.discription, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.discription, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
